a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #F7B598;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}

a:hover {
    background-color: #e96e39;
}

.button{
    position: absolute;
    bottom: 2%;
}
